<%- include("partials/header.ejs") -%>
<div class="container">
 <h1>Compose</h1>
 <form action="/compose" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Post</span>
        <textarea class="form-control" name="postData" rows="7"></textarea>
      </div>
     <button class="btn fw-normal btn-info" type="submit">Publish</button>
 </form>
</div>

<%- include("partials/footer.ejs") -%> 